/* HEADER */

.navbar-expand-lg .navbar-nav .dropdown-menu{
    right: 0;
    left: auto;
  }

  .top-menu li a::after{
    content: '';
    display: block;
    width: 100%;
    background-color: #111;
    height: 1px;
    transition: all 0.3s;
    transform: scale(0);
  }

  .top-menu li a:hover::after{
    transform: scale(1);
  }

/* HEADER */

ul.list-group {
  list-style-type: none;
  padding-bottom: 35px;
  margin: 0;
}

ul.list-group li {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style badges inside the list group */
ul.list-group .badge {
  color: #343434;
  font-weight: bold;
  padding: 5px 10px;
  text-align: center;
  font-size: 15px;

}

h3{
  text-align: center;
  padding: 30px;
}

div .modal-footer .cartbut{
  background-color: #343434;
}



p{
  border-top: 2px solid silver;
  color: red;
}

small{
  color: silver;
  text-decoration: line-through;
  margin-right: 5px;
}

.myslide{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}


.productimg a{
  display: flex;
  justify-content: center;
  text-align: center;
  height: 300px;
  padding: 20px;
}

.productlinks a{
  text-decoration: none;
  color: #343434;
}

.productimg img{
  max-width: 100%;
  max-height: 100%;
}

.productinf h4 a{
  padding: 20px;
  font-weight: 500;
  display: block;
  text-decoration: none;
  color: #343434;
}

.productdetails{
  overflow: hidden;
    padding: 5px;
}

.productlinks{
  font-size: 20px;
  margin-left: 20px;
}

.productlinks a:hover{
  color: #c8c8c8
}

.productprice{
  font-size: 20px;
}

h3{
  text-align: center;
  padding-top: 30px;
}

.product-card{
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
  transition: 0.3s;
  margin: 10px;
}
.product-card:hover{
  box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
}

.typeCross{
  font-size: 30px;
  padding-left: 25px;
}

ul.list-group li{
  background-color: white;
  border: none;
}

ul.list-group{
  padding-top: 10px;
}

/* FOOTER */

  .footer{
    background-color: #343434;
  }

  .footer h4{
    color: #ccc;
    border-bottom: 1px solid #ccc;
  }

  .footer a{
    text-decoration: none;
    transition: all 0.3s;
  }

  .footer a, .footer li{
    color: #c8c8c8;
  }

  .footer a:hover{
    color: #fff;
    text-decoration: underline;
  }

  .footer li a{
    display: block;
  }

  .socialnetworks a{
    display: inline-block;
    margin-right: 15px;
    font-size: 30px;
  }

/* FOOTER */
